#bottleContainer {
  background: rgba( 0, 0, 0, 0.10);
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-top: 5px;
}

#glass {
  background: rgba( 255, 255, 255, 0.50);
  border: 1px solid #bbb;
  border-top: 1px solid #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 300px;
  height: 400px;
  position: relative;
}

#water {
  background-color: #9cc6ff;
  background-position: top right;
  position: absolute;
  bottom: 0px;
  width: 300px;
  height: 100px;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#glass:hover #water {
  height: 350px;
  background-position: top left;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
}
