<div class="row">

    <div class="col-xs-12 col-sm-12">


                    
                   <p>Next Hack day is on 28th November 2017</p>


        <div class="infoPanel">

            <p>Have any ideas that you think that would be great for cec or some thing new that you think would be awesome or crazy</p>
            <p>If you have any issues with submitting a idea or any ideas for improvement just email me <a href="mailto:jason.staerck@moneysavingexpert.com">here</a></p>

        </div>


        


    </div>

    <div class="col-xs-12 col-sm-12">

        <div class="mainPanel">
            <IdeaForm @ideaAdded="ideaTotal"></IdeaForm>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12">

        <IdeaList :ideas="ideas"></IdeaList>

    </div>


</div>