

<div class="row">

    <div class="col-xs-12 col-sm-3">

        <div class="infoPanel">

            <p>Have any ideas that you think that would be great for cec or some thing new that you think would be awesome or crazy</p>
            <p>If you have any issues with submitting a idea or any ideas for improvement just email me <a href="mailto:jason.staerck@moneysavingexpert.com">here</a>

            <div class="totalBox">
                <h3>Total Ideas</h3>
                <p class="ideaCount">{{total}}</p>
            </div>


        </div>


    </div>

    <div class="col-xs-12 col-sm-9">

        <div class="mainPanel">
            <IdeaForm @ideaAdded="ideaTotal"></IdeaForm>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12">

        <IdeaList :ideas="ideas"></IdeaList>

    </div>


</div>