h1, h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }

  .mainLogo {
      width:40%;
      height:auto;
      display:inline-block;
  }

  .infoPanel {
    //   background: #fff;
      padding:15px;
      margin:0px 60px 10px 60px;
      font-size: 16px;
  }

  .leftBar {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      h1 {
          font-size:36px;
          padding:0 10px;
          font-family: 'Gloria Hallelujah', cursive;
          margin-bottom:20px;
      }

      p {
          padding:0 10px;
          line-height: 18px;
          font-size: 16px;
      }
  }

  .ideasTotal {
      text-align: center;
      background:#f17d31;
      margin:0 auto;
      display:inline-block;
      border-radius: 8px;
      padding:0px 10px;
      margin-top:20px;
      margin-bottom:30px;

    h3 {
        font-weight: bold;
        font-size:18px;
        font-family: 'Gloria Hallelujah', cursive;
        color:#fff;
        margin:10px 0 0 0;
    }

    p {
        font-family: 'arial';
        font-size:80px;
        line-height: 86px;
        font-weight: bold;
        color:#fff;
    }
  }


  .totalBox {
    background:#f17d31;
    padding:5px;
    font-size:64px;
    color:#fff;
    margin-top:20px;

    h3 {
        margin:5px 0 0 0;
        
    }

    p {
        font-family: 'Gloria Hallelujah', cursive;
        margin-bottom:0;
    }
  }