<div class="ideaContentArea" id="submitIdea">

            <form id="ideaNote">
                <div class="form-row">
                    <div class="form-group">
                        <input type="text" v-model="idea.name" class="form-control" id="ideaName" placeholder="your name" required>
                    </div>  
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <textarea v-model="idea.text" id="ideaText" placeholder="Your idea" class="form-control" rows="4" required></textarea>
                    </div>  
                </div>

                <button type="submit" class="btn btn-block btn-success" :disabled="idea.text < 10 || idea.name < 3 ? true : false" v-on:click.prevent="submitIdea">Put your idea in the bottle</button>
                
            </form>

    
</div>