.ideaContentArea {
   
    // background:#A2C7D4;

    form {
        margin:0 auto;
       

        .form-group {
            label {
                float: left;
                color:#fff;

                .smallText {
                    font-size:9px;
                    font-style: italic;
                }
            }

            input {
                box-shadow: none;
                border-radius: 0;
                box-shadow: 0;
                box-shadow: inset 0px 3px 104px -66px rgba(140,140,140,1);
                border-color:#ccc;
                background:#fff;
            }

            textArea {
                box-shadow: inset 0px 3px 104px -66px rgba(140,140,140,1);
                border-color:#ccc;
                background:#fff;
            }
        }


        button {
            display:inline-block;
            background:#f17d31;
            border-color:#f17d31;
            font-weight: bold;
            font-size: 16px;
            font-family: 'arial';
            width:auto;
            cursor: pointer;
            margin-top:20px;
            padding:20px;

            &:hover {
                background:darken(#f17d31,3%);
            }
        }
    }
}

@media(min-width:600px) {
    .ideaContentArea {
        padding:15px 150px;
    }
    
}