.ideaContentArea {
    padding:15px;
    background:#A2C7D4;

    form {
        margin:0 auto;

        .form-group {
            label {
                float: left;
                color:#fff;

                .smallText {
                    font-size:9px;
                    font-style: italic;
                }
            }

            input {
                box-shadow: none;
                border-radius: 0;
                box-shadow: 0;
            }
        }


        button {
            display:inline-block;
            background:#f17d31;
            border-color:#f17d31;
            font-weight: bold;
            font-size: 16px;
            font-family: 'arial';

            &:hover {
                background:darken(#f17d31,3%);
            }
        }
    }
}